.container {
    z-index: 2;
    top: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    justify-content: space-between;
    size: 100px;
}

.intro {
    color: black;
    padding-left: 25px;
    font-size: 200%;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

video {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: -100;
    position: absolute;
    opacity: 1;
}

.bgFill {
    left: 0;
    top: 0;
    width: 500px;
    height: 200px;
    border-style: solid;
    border-color: black;
    background-color: black;
    background-image: url("./imgs/kanna.png");
    background-repeat: no-repeat;
}

li {
    color: black;
}

a{
    color: darkblue;
    font-size: 150%;
}