* {
    font-family: sans-serif;
}

.container {
    z-index: 2;
    top: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    justify-content: space-between;
    size: 100px;
}

.intro {
    color: black;
    margin-top: -15px;
    padding-left: 25px;
    text-align: left;
    font-size: 200%;
    text-shadow: 2px 2px 4px white;
}

a {
    color: darkblue;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

video {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: -100;
    position: fixed;
    opacity: 1;
    object-fit: fill;
}

.bgFill {
    width: 400px;
    height: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    background-color: white;
    background-image: url("./imgs/kanna.png");
    background-repeat: no-repeat;
    opacity: 0.95;
}

.bgFill2 {
    width: 400px;
    height: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    background-size: 120%;
    background-color: white;
    background-image: url("./imgs/megumin.jpeg");
    background-repeat: no-repeat;
    opacity: 0.95;
}

.bgFill3 {
    margin-top: 15px;
    margin-left: 70px;
    width: 250px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    background-size: 150%;
    background-color: white;
    background-image: url("./imgs/");
    background-repeat: no-repeat;
    opacity: 0.95;
}

table, tr {
    border: 1px solid black;
    border-radius: 25px;
}

table.progress {
    text-align: center;
    width: 200px;
    height: 250px;
}

progress[value] {
    width: 175px;
    height: 15px;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.spacing {
    margin: 22px;
}

.center {
    text-align: center;
}