* {
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.size25 {
    height: 20%;
    width: auto;
}

.size75 {
    height: 75%;
}

.img {
    position: absolute;
}